@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
label,
legend {
  margin: 0;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 300;
  letter-spacing: -1.5px;
}

h2,
legend {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

h3 {
  margin: 8px 0 16px;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.15px;
}

p,
label {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 0 0 16px;
}

button {
  font-size: 21px;
  letter-spacing: 1.25px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px;
  border: 2px solid #000;
  background-color: #fff;
  margin: 16px;
  align-self: flex-end;
}

button:hover {
  text-decoration: underline;
}

body {
  padding: 16px 16px;
}

header,
section,
aside {
  margin: 16px 0;
  padding: 24px;
  border: 2px solid #000;
}

header,
main {
  margin: 0 auto;
  max-width: 960px;
}

header {
  padding: 0;
  height: 53px;
  align-items: center;
}

.halftone {
  position: relative;
  background-color: #fff;
}

.halftone::after {
  content: "";
  background: url(images/dot-pattern.svg) 1px 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -12px;
  right: -10px;
  z-index: -1;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro-box,
#question-box {
  height: 159px;
}

#intro-box h2 {
  font-size: 42px;
}

#answers-box {
  border: 0;
  padding: 8px 16px;
}

#start-button-box,
#restart-button-box,
#continue-box {
  border: 0;
  padding: 0;
}

#answers-box fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}

#form-wrapper,
#continue-box {
  flex-flow: row wrap;
}

#answers-box form input[type="radio"] {
  display: inline-block;
  color: #000;
  font-size: 18px;
  padding: 0;
  margin: 0 8px;
  min-width: 16px;
  flex: 1;
  transform: scale(1.5);
}

#answers-box label {
  flex: 5;
}

#answers-box button {
  align-self: flex-end;
  margin: 16px 0 16px 16px;
}

#answers-box ol {
  margin: 0;
  padding: 0 0 16px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

#answers-box li {
  width: 42%;
  margin: 32px 12px 0 0;
  text-align: left;
  padding: 0 4px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#score-box {
  flex: 3;
  padding: 16px;
}

#score-box h3 {
  text-align: left;
  margin: 0;
}
